<!doctype html>
<html>
<head>
  <title>
    {% block title %}
      Atlas Lane - Work Order
    {% endblock title %}
  </title>

    {% block header %}{% endblock header %}
</head>
<body>
  <header>
    <h1>Atlas Lane</h1>
    <nav>
      <ul>
        <li>
          <a href = "{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href = "{% url 'create_wo' %}">New Work Order</a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
</body>
</html>
